body {
	font-family: Arial;
}

div#bar_container {
	width: 50%;
	margin: 50px auto;
	padding: 20px;
}

div#bar_container h1 {
	margin-top: 0;
	text-align: center;
}

.bar {
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 50px;
}
.progress {
	background-color: #2BC253;
	transition: 300ms linear;
	display: block;
	min-height: 50px;
	font-size: 16px;
	line-height: 50px;
}
.bar span{
	position: absolute;
	width: 100%;
	overflow: hidden;
	display: block;
}

div#buttons {
	display: inline-block;
	margin-left: 10px;
}
#buttons button{
	margin-right: 10px;
	border: 0;
    background: cadetblue;
    padding: 8px;
    width: 40px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.controls {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.controls select{
	height: 32px;
    border-radius: 5px;
    padding: 0 5px;
}

@media only screen and (max-width: 767px) {
	div#bar_container {
		width: 90%;
	}
}